.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px 40px;
    color: var(--white);
    font-size: 16px;
    line-height: 20px;

    background: var(--primary);
    padding: 25px 30px;
}

.footer a:-webkit-any-link {
    color: var(--white);
    text-decoration: none;
}

.footer a:hover {
    color: var(--gray-lite);
}

@media (max-width: 765px) {
    .footer {
        grid-template-columns: 1fr;
    }
}