.review {
    display: grid;
    grid-template-columns: [start] auto 1fr auto auto [end];

    align-items: center;
    gap: 10px;

    font-size: 14px;
    line-height: 24px;
}

.name {
    font-weight: bold;
}

.date {
    margin-right: 10px;
}

.description {
    grid-column: start / end;
}

@media screen and (width <= 640px) {
    .review {
        grid-template-columns: [start] 30px [titleend] auto [dateend] 1fr [end];
    }

    .title {
        grid-column: titleend / end;
    }

    .date {
        grid-column: start / dateend;
    }
}

@media screen and (width <= 480px) {
    .rating {
        grid-column: start / end;
    }

    .date {
        grid-column: start / end;
    }
}