:root {
  --black: #3B434E;
  --gray-lite: #EBEBEB;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #6344DF;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--black);
  background: #F5F6F8;
}
