.product {
    display: grid;
    grid-template-columns: [start] 70px [logend] 30px [title] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [rating] auto [end];
    margin-bottom: 30px;
    padding: 30px;
}

.logo {
    grid-column: start / logend;
    grid-row: 1 / span 2
}

.title, .tags {
    grid-column: title / middle;
}

.price, .priceTitle {
    grid-column: pricestart / priceend;
}

.credit, .creditTitle {
    grid-column: creditstart / creditend;
}

.rating, .ratingTitle {
    grid-column: rating / end;
}

.hr, .description, .actions {
    grid-column: start / end;
}

.feature {
    grid-column: start / middle;
}

.advBlock {
    grid-column: middle / end;
}

.advantages {

}

.disadvantages {

}
