.reviewFrom {
    display: grid;
    align-items: center;

    font-size: 14px;
    line-height: 24px;
    grid-template-columns: [start] auto 1fr auto [end];
    gap: 20px 30px;
}

.title {
    justify-self: left;
}

.rating {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.description, .submit {
    grid-column: start / end;
}

.info {
    margin-left: 15px;
}

.panel {
    position: relative;

    margin-top: 20px;
    padding: 20px;

    border-radius: 10px;
}

.success {
    background: var(--green-light);

}

.error {
    background: var(--red-light);
}

.successTitle {
    font-weight: bold;
}

.close {
    position: absolute;
    top: 12px;
    right: 12px;

    border: none;
    background: none;
}

.error .close path {
    stroke: var(--red);
}

@media screen and (width <= 1100px) {
    .reviewFrom {
        grid-template-columns: [start] 1fr 1fr [end];
    }

    .title {
        justify-self: normal;
    }

    .rating {
        grid-column: start / end;
    }
}

@media screen and (width <= 640px) {
    .reviewFrom {
        grid-template-columns: [start] 1fr [end];
    }
}